.header {
  width: 100%;
  background-color: white;
  border-bottom: solid 1px #f1f1f1;
}
.menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.logo {
  height: 2rem;
}
