<!-- <div class="card">
  <img [src]="image" alt="" class="image" />
  <div class="wraper-text">
    <div class="title">{{ dataEntrante?.strIngredient }}</div>
    <div class="sub-title">
      <div *ngIf="!dataEntrante.strDescription; else elseBlock">
        {{ '--sin descripcion' }}
      </div>
      <ng-template #elseBlock>
        {{ dataEntrante.strDescription.substring(0, 15) }}
      </ng-template>
    </div>
  </div>
</div> -->

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="bg-light rounded-3">
      <div class="container-fluid py-2 text-center">
        <div class="row">
          <img [src]="image" alt="" />
        </div>
        <h1 class="display-4">{{ dataEntrante?.strIngredient }}</h1>
        <div class="sub-title">
          <div
            *ngIf="!dataEntrante.strDescription; else elseBlock"
            class="text-secondary"
          >
            {{ '--sin descripcion' }}
          </div>
          <ng-template #elseBlock>
            <p class="text-primary">
              {{ dataEntrante.strDescription.substring(0, 15) }}
            </p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
