<div class="container">
  <h1 class="display-5 fw-bold">Platillos buscados por: {{ busqueda }}</h1>
  <div class="row bg-secondary filter justify-content-center">
    <div class="col-8">
      <div class="row py-2">
        <div class="col-4">
          <div class="input-group mb-3">
            <input
              (keyup.enter)="searchByName()"
              type="text"
              class="form-control input-search"
              placeholder="Buscar por nombre"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-primary btn-search"
                type="button"
                (click)="searchByName()"
              >
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <mat-form-field appearance="fill">
            <mat-label>Categoria</mat-label>
            <mat-select (selectionChange)="onSelectChange($event.value)">
              <mat-option *ngFor="let c of categories" [value]="c.strCategory">
                {{ c.strCategory }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="fill">
            <mat-label>Areas</mat-label>
            <mat-select (selectionChange)="onSelectChangeArea($event.value)">
              <mat-option *ngFor="let a of areas" [value]="a.strArea">
                {{ a.strArea }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 my-3" *ngFor="let l of list">
      <app-card-ingre
        [routerLink]="['/', 'fullMeal', l?.idMeal]"
        [dataEntrante]="l"
      ></app-card-ingre>
    </div>
    <p ng-if="list.items.length > 0">
      <span>
        <h1 class="display-5 text-secondary">
          Sin resultados
        </h1>
      </span>
    </p>
  </div>
</div>
